body {
  background-color: black;
}

.calculatorContainer {
  width: 80%;
  margin: 0 auto;

  font-size: 2rem;
  font-weight: 150;
}

/* SCREENS */
.calculatorScreen {
  /* background-color: red; */
  color: white;
  grid-column: span 4;

  text-align: right;
  font-size: 3rem;
}

.calculatorScreen p {
  margin: 0.4rem 0;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  gap: 0.5rem;
  justify-content: center;
}